.gallery {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 100px;
  &__item {
    width: 350px;
    top: 70px;
    left: 0;
    position: relative;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  }
  &__image {
    display: block;

    transition: transform var(--animation-duration) var(--timing-function);
    &:hover {
      transform: scale(1.03);
    }
  }
}

.search-form {
  display: flex;
  position: fixed;
  z-index: 77;
  top: 0;
  left: 0;
  justify-content: center;
  width: 100%;
  padding: 10px 0;
  background-color: royalblue;
  &__input {
    padding: 5px;
    font-size: 90%;
  }
}

.info {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  &__item {
    text-align: center;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
